@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg-color: #151515;
  --font: Poppins, "sans-serif";
  --font-color: white;
  --nav-font-size: 25px;
  --nav-font-boldness: 900;
  --subheading-color: #787171;
  --page3-background: #5a5a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--font-color);
  cursor: pointer;
}

a:hover {
  color: var(--font-color);
  text-decoration: none;
  outline: none;
  opacity: 0.9;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font);
  font-style: normal;
}

nav {
  box-shadow: none !important;
}

nav ul {
  width: 40%;
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-boldness);
  padding-right: 6rem;
}

.subheading {
  line-height: 2;
  color: var(--subheading-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#getinTouch {
  background: linear-gradient(180deg, #3389ed 0%, #843a91 100%);
  border: none;
  border-radius: 107px;
  width: 230px;
  height: 54px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 50px;
  color: #fffefe;
  padding: 10px 5px;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}

#social-icons img {
  position: absolute;
  cursor: pointer;
}

#social-icons img:nth-child(1) {
  left: 0;
  box-shadow: 0px 0px 25px #079cb8;
  border-radius: 60%;
}

#social-icons img:nth-child(2) {
  right: 35%;
  bottom: 25%;
  box-shadow: 0px 0px 25px #ffffff;
  background: #ffffff;
  border-radius: 10px;
}

#social-icons img:nth-child(3) {
  left: 30%;
  top: 30%;
  box-shadow: 0px 0px 25px #f06229;
  border-radius: 25px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, -0px);
  }
}

div[id*="page"] {
  height: 85vh;
  padding-top: 1rem;
  margin-bottom: 6rem;
}

#moreInfo {
  background: #ffffff;
  border-radius: 50px;
  text-transform: none;
}

.page-2-text-color {
  color: #5293de;
  font-weight: 600;
  font-size: 18px;
}

#page2 .jumbotron {
  line-height: 2;
}

.width-size {
  width: 80%;
}

#page2 .carousel-inner{
  height: 600px;
}

.carousel-control-prev img {
  max-width: 36px;
  cursor: pointer;
}

.carousel-control-next img {
  max-width: 36px;
  cursor: pointer;
}

#page3 {
  height: auto;
  background: var(--page3-background);
}

.card {
  height: 325px;
  border-radius: 1rem !important;
  padding: 20px 10px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card:hover {
  margin-top: -10px;
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  background: #ffffff;
  box-shadow: 10px 4px 100px #213a4d;
}

.card-title {
  color: black;
}

#page3 .row {
  margin: 0 auto;
}

footer {
  position: relative;
  margin-bottom: 0;
  background: #222538;
}

footer p {
  line-height: 1.6rem;
}

footer ul {
  line-height: 1.6rem;
}

#footer-socials a{
  transition: filter 300ms;
}

#footer-socials a:hover{
  filter: brightness(150%);
}

@media screen and (max-width: 1024px) {
  nav ul {
    width: 65%;
    padding-right: 3rem !important;
  }

  #page2 {
    height: auto !important;
    margin-bottom: 2rem !important;
  }

  #footer-socials {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
  }

  #social-icons img {
    position: static;
  }

  #page2 .carousel-inner{
    height: 900px;
  }
  
}

@media screen and (max-width: 552px) {
  nav {
    padding-top: 2.5rem !important;
  }

  nav ul {
    width: 100%;
    justify-content: center !important;
    padding-right: 0 !important;
  }

  #social-icons {
    width: 100%;
  }

  #social-icons img {
    width: 45px;
    height: 45px;
  }

  #social-icons img:nth-child(2) {
    width: 38px;
    height: 38px;
  }

  #page1 .jumbotron {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  .card {
    margin-top: 20px;
  }

  #testimonial .container {
    width: 75% !important;
  }

  .card {
    height: 250px;
  }

  footer .container{
    width: 100% !important;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
